.breadcrumb {
  position: sticky;
  top: 10px;
  background: linear-gradient(
    135deg,
    rgba(139, 92, 246, 0.1),
    rgba(139, 92, 246, 0.05)
  );
  backdrop-filter: blur(15px);
  border: 1px solid rgba(139, 92, 246, 0.2);
  border-radius: 12px;
  padding: 12px 20px;
  margin-bottom: 20px;
  width: 40%;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
}
